body{
font-family:Arial;
background:#eef2f7;
display:flex;
justify-content:center;
margin-top:50px;
}
.container{
width:400px;
background:white;
padding:25px;
border-radius:10px;
box-shadow:0 0 10px gray;
}
select,
textarea{
width:100%;
padding:10px;
margin:10px 0;
}
button{
width:100%;
padding:12px;
background:#28a745;
color:white;
border:none;
cursor:pointer;
}
